*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

#pedido{
    display: none;
    position: absolute;
    bottom: auto;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: green;
    font-size: 22px;
    width: 380px;
}

.btn-word{
    border: none;
    padding: 10px;
    position: fixed;
    top: 10px;
    background-color: purple;
    color: rgb(255, 255, 255);
}

.btn-word:hover{
    cursor: pointer;
    opacity: 0.6;
}