*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(9, 9, 44);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}

.container{
    position: relative;
    background-color: rgb(14, 63, 100);
    width: 300px;
    height: 350px;
    border: 2px solid #020101;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2vh;
    padding: 10px;
    box-shadow: rgba(255, 255, 255, 0.8);
}

.logo{
    border-radius: 100%;
    width: 200px;
    height: 200px;
}

.error-div{
    display: none;
}

.round{
    border-radius: 90%;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 15%;
    left: 49%;
    transform: translate(-50%, -50%);
    box-shadow: rgba(255, 255, 255, 0.8) 0px 5px 15px;
}

.wrap-input-label{
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
    width: 80%;
    position: relative;

}

.eye{
    position: absolute;
    right: 10px;
    bottom: 7px;
    opacity: 0.7;
}

.eye:hover{
    cursor: pointer;
    opacity: 1;
}

.wrap-input-label label{
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 5px;
}

.wrap-input-label input{
    background-color: transparent;
    padding: 8px 0px;
    border: none;
    width: 100%;
    border-bottom: 2px solid #ffffff;
    font-size: 18px;
    color: #ffffff;
}

input::placeholder{
    color: #ffffff;
    font-size: 8px;
}

input:focus{
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    border-bottom: 2px solid #ffffff;
}
.btn-login{
    padding: 10px;
    width: 81%;
    background-color: #11012e;
    border-radius: 999px;
    border: none;
    border: 2px solid #ffffff;
    transition: all 200ms ease-in-out;
    margin-top: 10px;
}

.btn-login:hover{
    cursor: pointer;
    color: #ffecdf;
    border: 2px solid #ffecdf;
    box-shadow: rgba(255, 255, 255, 0.8);
}

.error-div{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    gap: 2vh;
    padding: 10px;
    position: absolute;
    bottom: 5%;
    font-size: 14px;
    font-weight: lighter;
    box-shadow: rgba(255, 252, 252, 0.8) 0px 5px 15px;
}
.error-div buttom{
    background-color: transparent;
    border: none;
    opacity: 0.7;
}